<script type="text/javascript" src="${rc.contextPath}/js/echart/options/index.js"></script>
<script type="text/javascript">
	Ext.onReady(function () {
		Ext.Ajax.request({
			url: ctxPath + '/menu.do',
			params: {},
			success: function (response) {
				var menus = Ext.decode(response.responseText).menus;
				for (var i = 0; i < menus.length; i++) {
					var menu = menus[i];
					var items = menus[i].items;
					var button = Ext.create('Ext.button.Button', {
						text: menu.title,
						icon: '${rc.contextPath}/images/icon/' + menu.icon,
						menu: []
					});
					for (var n = 0; n < items.length; n++) {
						var item = items[n];
						var menuItem = Ext.create('Ext.menu.Item', {
							id: item.id + 'item',
							text: item.title,
							icon: '${rc.contextPath}/images/icon/' + item.icon,
							url: '${rc.contextPath}/' + item.url,
							listeners: {
								click: function (opt) {
									changePagel(opt.url, opt.text, opt.id, opt.icon);
								}
							}
						});
						button.getMenu().add(menuItem);
					}
					Ext.getCmp('menubar').add(button);
				}
			},
			error: function () {
				Ext.Msg.alert('提示！', '菜单加载失败，请检查网络，并刷新当前页面！');
			}
		});
		Ext.create('Ext.container.Viewport', {
			layout: 'border',
			width: '100%',
			height: '100%',
			items: [{
				region: 'north',
				xtype: 'panel',
				height: 100,
				width: '100%',
				layout: 'border',
				items: [{
					region: 'center',
					xtype: 'panel',
					height: '100%',
					width: '100%',
					html: '<center><h1 style=' + 'color:#9a9292;font-size:5em;' + '>OPC UA 配置工具</h1><center>'
				}, {
					region: 'east',
					xtype: 'panel',
					height: '100%',
					width: 150,
					html: '用户:Pnoker</br>角色:Administrator</br>IP:localhost'
				}]
			}, {
				region: 'north',
				xtype: 'panel',
				height: 35,
				width: '100%',
				layout: 'border',
				defaults: {
					split: true
				},
				items: [{
					id: 'menubar',
					region: 'west',
					xtype: 'toolbar',
					width: '100%',
					height: '100%',
					items: []
				}, {
					region: 'east',
					xtype: 'toolbar',
					width: 338,
					height: '100%',
					items: [{
						xtype: 'textfield',
						emptyText: 'Opc'
					}, '-', {
						xtype: 'button',
						text: '搜索',
						icon: '${rc.contextPath}/images/icon/zoom.png'
					}, '-', {
						xtype: 'button',
						text: '主题',
						icon: '${rc.contextPath}/images/icon/theme.png',
						handler: function () { }
					}]
				}]
			}, {
				id: 'indexTabPanel',
				region: 'center',
				xtype: 'tabpanel',
				width: '100%',
				activeTab: 0,
				tabPosition: 'top',
				margin: '1 0 0 0',
				plain: true,
				items: [{
					title: '首页',
					icon: '${rc.contextPath}/images/icon/house.png',
					xtype: 'panel',
					layout: 'border',
					width: '100%',
					items: [{
						region: 'west',
						title: '小助手',
						xtype: 'tabpanel',
						split: true,
						collapsible: true,
						width: '20%',
						height: '100%',
						items: [{
							title: '帮助',
							icon: '${rc.contextPath}/images/icon/time.png',
							dockedItems: [{
								xtype: 'toolbar',
								items: [${dockedItems}]
							}],
							constrain: true,
							scrollable: true,
							bodyPadding: 5,
							items: [{
								xtype: 'panel',
								width: '100%',
								frame: true,
								closable: true,
								margin: '0 0 5 0',
								title: '步骤一',
								html: '<p>①网关管理->网关一览->添加->新增一条网关信息</p>'
							}, {
								xtype: 'panel',
								frame: true,
								closable: true,
								margin: '0 0 5 0',
								title: '步骤二',
								html: '<p>②网络适配器->适配器一览->添加->新增一条适配器信息</p>'
							}, {
								xtype: 'panel',
								frame: true,
								closable: true,
								margin: '0 0 5 0',
								title: '步骤三',
								html: '<p>③网络适配器->适配器配置->添加->新增一条变量配置信息</p>'
							}, {
								xtype: 'panel',
								frame: true,
								closable: true,
								margin: '0 0 5 0',
								title: '步骤四',
								html: '<p>④OPC Server->OPC点位一览->生成OPC UA配置文件</p>'
							}, , {
								xtype: 'panel',
								frame: true,
								closable: true,
								margin: '0 0 5 0',
								title: '步骤五',
								html: '<p>⑤OPC Server->OPC点位配置->新增点位配置信息->生成配置文件</p>'
							}]
						}, {
							title: '记事本',
							icon: '${rc.contextPath}/images/icon/paste_plain.png',
							dockedItems: [{
								xtype: 'toolbar',
								items: [${dockedItems}]
							}],
							items: [{
								xtype: 'fieldset',
								title: '我的记录',
								collapsible: false,
								anchor: '100%',
								items: [{
									xtype: 'textareafield',
									width: '100%',
									height: 100,
									value: '记事本，记录生活'
								}]
							}]
						}, {
							title: '日历',
							icon: '${rc.contextPath}/images/icon/date.png',
							items: [{
								xtype: 'datepicker',
								width: '100%'
							}, {
								xtype: 'fieldset',
								title: '实时天气状况',
								collapsible: false,
								anchor: '100%',
								margin: '10 0 0 0',
								style: 'color: #3892d3;',
								items: [{
									id: 'weather',
									xtype: 'panel',
									width: '100%',
									height: 100,
									margin: '5 0 10 0'
								}]
							}]
						}],
						listeners: {
							tabchange: function (tabPanel, panel) {
								if (panel.title == '日历') {
									Ext.Ajax.request({
										url: ctxPath + '/calendar.do',
										params: {
											location: 'shenyang'
										},
										success: function (response) {
											var result = response.responseText;
											if (result.pic != '99.png') {
												Ext.getCmp('weather').setHtml(result);
											} else {
												Ext.getCmp('weather').setHtml('加载失败……');
											}
										}
									});
								}
							}
						}
					}, {
						region: 'center',
						xtype: 'tabpanel',
						width: '100%',
						height: '100%',
						items: [{
							title: '折线图',
							frame: true,
							name: 'line',
							html: '<div id="line" style="width:100%;height:100%;"></div>'
						}, {
							title: '柱状图',
							frame: true,
							name: 'bar',
							html: '<div id="bar" style="width:100%;height:100%;"></div>'
						}, {
							title: '散点图',
							frame: true,
							name: 'scatter',
							html: '<div id="scatter" style="width:100%;height:100%;"></div>'
						}, {
							title: '饼图',
							frame: true,
							name: 'pie',
							html: '<div id="pie" style="width:100%;height:100%;"></div>'
						}, {
							title: '玫瑰图',
							frame: true,
							name: 'radar',
							html: '<div id="radar" style="width:100%;height:100%;"></div>'
						}, {
							title: '仪表盘',
							frame: true,
							name: 'gauge',
							html: '<div id="gauge" style="width:100%;height:100%;"></div>'
						}, {
							title: '人物关系图',
							frame: true,
							name: 'relationShip',
							html: '<div id="relationShip" style="width:100%;height:100%;"></div>'
						}],
						listeners: {
							tabchange: function (tabPanel, panel) {
								if (panel.name == 'line') {
									setCharts(line, 'line');
								}
								if (panel.name == 'bar') {
									setCharts(bar, 'bar');
								}
								if (panel.name == 'scatter') {
									setCharts(scatter, 'scatter');
								}
								if (panel.name == 'pie') {
									setCharts(pie, 'pie');
								}
								if (panel.name == 'radar') {
									setCharts(radar, 'radar');
								}
								if (panel.name == 'gauge') {
									setCharts(gauge, 'gauge');
								}
								if (panel.name == 'relationShip') {
									setCharts(relationShip, 'relationShip');
								}
							}
						}
					}]
				}]
			}, {
				region: 'south',
				width: '100%',
				height: 20,
				html: '<center><small>Copyright © 2015-2020 <b style=' + 'color:red;' + '>SIA</b> 版权所有</small><center>'
			}]
		});
	});
</script>