<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.Sia.dao.GatewayMapper">
	<resultMap id="BaseResultMap" type="com.Sia.model.Gateway">
		<id column="node_id" property="nodeId" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="ip" property="ip" jdbcType="VARCHAR" />
		<result column="port" property="port" jdbcType="INTEGER" />
		<result column="is_enable" property="isEnable" jdbcType="INTEGER" />
		<result column="at_time" property="atTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		node_id, name, ip, port, is_enable, at_time
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap" parameterType="com.Sia.model.GatewayExample">
		select
		<if test="distinct">
			distinct
		</if>
		'true' as QUERYID,
		<include refid="Base_Column_List" />
		from gateway
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<if test="start !=0 or limit!=0">
			limit #{start},#{limit}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from gateway
		where node_id = #{nodeId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from gateway
		where node_id = #{nodeId,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.Sia.model.GatewayExample">
		delete from gateway
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.Sia.model.Gateway">
		insert into gateway (node_id, name, ip,
		port, is_enable, at_time
		)
		values (#{nodeId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR},
		#{port,jdbcType=INTEGER}, #{isEnable,jdbcType=INTEGER}, #{atTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.Sia.model.Gateway">
		insert into gateway
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="nodeId != null">
				node_id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="ip != null">
				ip,
			</if>
			<if test="port != null">
				port,
			</if>
			<if test="isEnable != null">
				is_enable,
			</if>
			<if test="atTime != null">
				at_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="nodeId != null">
				#{nodeId,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				#{ip,jdbcType=VARCHAR},
			</if>
			<if test="port != null">
				#{port,jdbcType=INTEGER},
			</if>
			<if test="isEnable != null">
				#{isEnable,jdbcType=INTEGER},
			</if>
			<if test="atTime != null">
				#{atTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.Sia.model.GatewayExample" resultType="java.lang.Integer">
		select count(*) from gateway
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update gateway
		<set>
			<if test="record.nodeId != null">
				node_id = #{record.nodeId,jdbcType=INTEGER},
			</if>
			<if test="record.name != null">
				name = #{record.name,jdbcType=VARCHAR},
			</if>
			<if test="record.ip != null">
				ip = #{record.ip,jdbcType=VARCHAR},
			</if>
			<if test="record.port != null">
				port = #{record.port,jdbcType=INTEGER},
			</if>
			<if test="record.isEnable != null">
				is_enable = #{record.isEnable,jdbcType=INTEGER},
			</if>
			<if test="record.atTime != null">
				at_time = #{record.atTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update gateway
		set node_id = #{record.nodeId,jdbcType=INTEGER},
		name = #{record.name,jdbcType=VARCHAR},
		ip = #{record.ip,jdbcType=VARCHAR},
		port = #{record.port,jdbcType=INTEGER},
		is_enable =
		#{record.isEnable,jdbcType=INTEGER},
		at_time = #{record.atTime,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.Sia.model.Gateway">
		update gateway
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="ip != null">
				ip = #{ip,jdbcType=VARCHAR},
			</if>
			<if test="port != null">
				port = #{port,jdbcType=INTEGER},
			</if>
			<if test="isEnable != null">
				is_enable = #{isEnable,jdbcType=INTEGER},
			</if>
			<if test="atTime != null">
				at_time = #{atTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where node_id = #{nodeId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.Sia.model.Gateway">
		update gateway
		set name = #{name,jdbcType=VARCHAR},
		ip = #{ip,jdbcType=VARCHAR},
		port = #{port,jdbcType=INTEGER},
		is_enable =
		#{isEnable,jdbcType=INTEGER},
		at_time = #{atTime,jdbcType=TIMESTAMP}
		where node_id = #{nodeId,jdbcType=INTEGER}
	</update>
</mapper>