<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="${rc.contextPath}/images/sia.ico" type="image/png">
<title>OPC-UA</title>
<link href="${rc.contextPath}/js/ext-5.1.0/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css" rel="stylesheet">
<script src="${rc.contextPath}/js/ext-5.1.0/ext-all.js"></script>
<script src="${rc.contextPath}/js/ext-5.1.0/packages/ext-locale/build/ext-locale-zh_CN.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/echart/echarts.min.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/echart/theme/macarons.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/dateFormat.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/customs/custom-model.js"></script>
<script type="text/javascript" src="${rc.contextPath}/js/customs/custom.js"></script>
<script>
	var ctxPath = "${rc.contextPath}";
</script>
</head>

<body>