<!DOCTYPE html>
<html>

<head>
<title>OPC-UA</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- 自定义网页标签图标 -->
<link rel="shortcut icon" href="${rc.contextPath}/images/sia.ico" type="image/png">
<!-- Extjs5.1.0 Crisp主题-->
<link href="${rc.contextPath}/js/ext-5.1.0/packages/ext-theme-crisp/build/resources/ext-theme-crisp-all.css" rel="stylesheet">
<!-- Extjs5.1.0 -->
<script src="${rc.contextPath}/js/ext-5.1.0/ext-all.js"></script>
<!-- 汉化 -->
<script src="${rc.contextPath}/js/ext-5.1.0/packages/ext-locale/build/ext-locale-zh_CN.js"></script>
<!-- jquery1.8 -->
<script type="text/javascript" src="${rc.contextPath}/js/jquery-1.8.0.min.js"></script>
<!-- Echart3.0 -->
<script type="text/javascript" src="${rc.contextPath}/js/echart/echarts.min.js"></script>
<!-- Mac主题，Echart3.0 -->
<script type="text/javascript" src="${rc.contextPath}/js/echart/theme/macarons.js"></script>
<!-- 日期转换工具 -->
<script type="text/javascript" src="${rc.contextPath}/js/dateFormat.js"></script>
<!-- 用户自定义数据Model -->
<script type="text/javascript" src="${rc.contextPath}/js/customs/custom-model.js"></script>
<!-- 用户自定义通用js工具 -->
<script type="text/javascript" src="${rc.contextPath}/js/customs/custom.js"></script>
<script>
	var ctxPath = "${rc.contextPath}";//基础路径
</script>
</head>

<body>