<script type="text/javascript">
	Ext.onReady(function () {
		var pageSize = 14;
		Ext.define('model.DataBase', {
			extend : 'Ext.data.Model',
			fields : [ {
				type : 'string',
				name : 'name'
			},{
				type : 'string',
				name : 'type'
			}, {
				type : 'string',
				name : 'ip'
			}, {
				type : 'string',
				name : 'port'
			}, {
				type : 'string',
				login : 'login'
			} , {
				type : 'string',
				name : 'password'
			} , {
				type : 'string',
				name : 'user'
			}, {
				type : 'int',
				name : 'isEnable'
			}, {
				type : 'string',
				name : 'state'
			}, {
				type : 'int',
				name : 'atTime'
			}  ]
		});

		var store = Ext.create('Ext.data.JsonStore', {
			model : 'model.DataBase',
			pageSize : pageSize,
			folderSort : true,
			proxy : {
				type : 'ajax',
				reader : {
					type : 'json',
					root : 'root',
					totalProperty : 'total'
				},
				url : ctxPath + '/dataBase/jsonData.do'
			}
		});
		store.loadPage(1);
		var dataPagingBar = new Ext.PagingToolbar({
			pageSize: pageSize,
			store : store,
			displayInfo: true,
			beforePageText: '第',
			afterPageText: '页，共{0}页',
			displayMsg: '显示第 {0} 条到 {1} 条记录，一共 {2} 条',
			emptyMsg: "总共 0 条"
		});

		var toolbar = Ext.create('Ext.toolbar.Toolbar', {
			dock: 'top',
			items: [${dockedItems}, '->', {
				xtype: 'container',
				layout: 'hbox',
				defaultType: 'textfield',
				items: [${searchItems}]
			}, '-', {
					xtype: 'button',
					text: '查找',
					icon: '${rc.contextPath}/images/icon/zoom.png'
				}]
		});

		var GridPanel = Ext.create('Ext.grid.Panel', {
			id: 'gridPanel',
			store : store,
			scrollable: 'true',
			columnLines: true,
			viewConfig: {
				loadMask: true
			},
			dockedItems: toolbar,
			bbar: dataPagingBar,
			columns: [{
				text: '序号',
				xtype: 'rownumberer',
				width: '5%',
				align: 'center'
			}, {
				text: '数据库名称',
				dataIndex : 'name',
				sortable: true,
				width: '15%',
				align: 'center'
			}, {
				text: '数据库类型',
				sortable: true,
				dataIndex : 'type',
				width: '10%',
				align: 'center'
			}, {
				text: 'IP',
				sortable: true,
				dataIndex : 'ip',
				width: '15%',
				align: 'center'
			}, {
				text: '端口',
				sortable: true,
				dataIndex : 'port',
				width: '10%',
				align: 'center'
			}, {
				text: '登陆用户',
				sortable: true,
				dataIndex : 'login',
				width: '10%',
				align: 'center'
			}, {
				text: '登陆口令',
				sortable: true,
				dataIndex : 'password',
				width: '10%',
				align: 'center'
			}, {
				text: '操作员',
				sortable: true,
				dataIndex : 'user',
				width: '10%',
				align: 'center'
			}, {
				text: '修改时间',
				dataIndex : 'atTime',
				width: '10%',
				renderer: function(value) {
					return new Date(value).Format("yyyy-MM-dd hh:mm:ss");
				}
			}]
		});
		Ext.create('Ext.container.Viewport', {
			layout: 'border',
			items: [{
				region: 'center',
				layout: 'fit',
				items: GridPanel
			}]
		});
	});
</script>